.schedule {
  display: flex;
  flex-direction: column;
  gap: var(--padding-small);
  width: 100%;
  max-width: 1600px;
  margin: 5rem auto 0;
  background-color: var(--background-color);
  view-transition-name: schedule;

  @media (max-width: 750px) {
    max-width: 100%;
  }

  .schedule-header {
    overflow: hidden;
    white-space: nowrap;

    padding-left: var(--padding);
    pointer-events: none;

    h2 {
      transition: transform 0.2s var(--ease);
      transform-origin: left top;
      background-color: var(--background);

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 100%;
        width: 400vw;
        height: 100%;
        background-color: var(--background);
      }
    }
  }



  .schedule-day {

    &+h2 {
      margin-top: 2rem;
    }
  }
}

.schedule-track {
  position: relative;
  display: grid;
  gap: 0.25rem;
  grid-template-rows: repeat(var(--grid-rows), minmax(0.5rem, auto));
  grid-template-columns: auto 1px 1fr 1fr;
  width: 100%;
  padding: var(--padding) var(--padding) 0.25rem;
  overflow: clip;

  @media (max-width: 750px) {
    overflow: scroll;
  }

  hr {
    grid-row: 1 / -1;
    grid-column: 2;
    border: none;
    border-left: 1px solid var(--color);
    opacity: 0.25;
    margin: -0.125rem 0;
  }
}

.time-label {
  grid-row: var(--start-row) / var(--end-row);
  grid-column: 1;
  font-size: 0.75rem;
  transform: translateY(-0.5lh);
  align-self: start;
  text-align: center;
  position: relative;
  z-index: -1;
  font-weight: 600;

  @media (max-width: 750px) {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: var(--background);
    writing-mode: sideways-lr;

  }

  &:nth-last-child(1 of .time-label) {
    grid-row-end: span 1;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 0.25rem);
    transform: translateY(calc(-50% - 0.125rem));
    height: 1px;
    width: 1px;
    background-color: var(--color);
    opacity: 0.25;
    box-shadow: 1px 0 0 500vw var(--color);
    clip-path: inset(0 -400vw 0 0);
  }
}

.schedule-item {
  position: relative;
  padding: 0.75rem 0.5rem;
  grid-row: var(--start-row) / var(--end-row);
  grid-column: 3;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  --accent: var(--color);
  color: var(--background-color);
  transition: background 0.5s var(--ease), color 0.5s var(--ease);

  &[data-type="talk"] {
    --accent: var(--accent-color-main);
  }

  &[data-type="workshop"] {
    --accent: var(--accent-color-secondary);
  }

  &[data-type="talk"],
  &[data-type="workshop"] {
    &::before {
      content: '';
      position: absolute;
      top: -0.125rem;
      left: 1rem;
      width: 2px;
      height: 100%;
      background: var(--accent);
      z-index: -1;
    }

    &::after {
      content: '';
      position: absolute;
      top: calc(100% - 0.5rem);
      left: 0.7rem;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      border: 2px solid var(--accent);
      background-color: var(--background-color);
    }
  }

  &[data-type="coffee"],
  &[data-type="registration"],
  &[data-type="lunch"],
  &[data-type="farewell"],
  &[data-type="karaoke"] {
    pointer-events: none;
    --accent: var(--color);
    color: var(--color);
    background-color: var(--background-color);
    border: 1px solid rgb(255 255 255 / 0.5);
    grid-column-end: span 2;
    transform-origin: center top;
    text-transform: uppercase;
    padding: 0.5rem 1rem;

    h3 {
      @media (prefers-reduced-motion: no-preference) {
        position: sticky;
        top: 3rem;
      }
    }

    .label {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }


  &.is-a11y-room {
    grid-column: 4;
    transform-origin: right top;
  }

  .main-info {
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-template-rows: auto auto;
    gap: 0.25rem 1rem;
  }

  .schedule-item-image {
    position: relative;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    grid-row: 2;

    @media (max-width: 750px) {
      grid-column: 1;
    }

    img {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;

      &:has(+ img) {
        width: 65%;
        height: 65%;
      }

      &+img {
        position: absolute;
        top: 35%;
        z-index: 0;
        left: 35%;
        width: 65%;
        height: 65%;
      }
    }
  }

  .schedule-item-content {
    grid-row: 1 / 3;
    grid-column: 2;
    display: grid;
    grid-template-rows: subgrid;

    @media (max-width: 750px) {
      grid-template-columns: subgrid;
      grid-column: 1 / 3;
    }
  }

  .labels {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;

    @media (max-width: 750px) {
      grid-column: 1 / -1;
      padding-left: 1rem;
    }
  }

  .content {
    @media (max-width: 750px) {
      grid-column: 2;
      grid-row: 2;
    }
  }

  details {
    color: var(--color);
    background: var(--background-color);
    border-radius: 0.25rem;
    border: 1px solid var(--accent);
    padding: 1rem 0.5rem;

    @media (max-width: 750px) {
      min-width: 80vw;
    }

    &::before {
      content: '';
      position: absolute;
      top: -1rem;
      left: 0.25rem;
      width: 0.25rem;
      height: 0.25rem;
      border-radius: 50%;
      border: 2px solid var(--accent);
      background-color: var(--background-color);
    }
  }

  summary {
    margin-top: -1.75rem;
  }

  summary,
  .more-info {
    max-width: 800px;
  }

  .more-info {
    padding: 1rem 5rem 0;
    font-weight: 400;

    a {
      display: inline-block;
      padding: 0.5rem 1rem;
      background-color: var(--accent);
      color: var(--background-color);
      border-radius: 0.25rem;
      text-decoration: none;
      font-size: 0.8rem;
      font-variation-settings:
        'wght' 600;
      margin-top: 1em;
    }

    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

details>summary {
  cursor: pointer;
  list-style: none;
}

details>summary::-webkit-details-marker {
  display: none;
}

/* Hier! */

.schedule-header {
  @media (prefers-reduced-motion: no-preference) {
    /* 1. adding a sticky position to the heading when it's hits the top of the viewport */
    /* position: sticky;
    top: 0;
    z-index: 2; */
  }

  /* 2. adding container name and type for style queries */
  /* container-name: sticky-heading;
    container-type: scroll-state; */

  /* 3. adding a transform to the heading when it's stuck to the top */
  /* @media (prefers-reduced-motion: no-preference) {
    @container sticky-heading scroll-state(stuck: top) {
      h2 {
        transition: transform 0.5s var(--ease);
        transform: scale(0.3);
      }
    }
  } */
}

.schedule-item {
  @media (prefers-reduced-motion: no-preference) {
    /* 4. Scroll driven animations */
    /* @supports (animation-timeline: --schedule-items) {
      animation-timeline: view();
      animation-name: scale-in;
      animation-range: entry entry 10vh;
      animation-fill-mode: both;
      transform-origin: left top;
    } */
  }

  details {
    @media (prefers-reduced-motion: no-preference) {
      /* 5. adding a sticky position to the details */
      /* position: sticky;
      top: 3.25rem; */
    }
  }
}

@keyframes scale-in {
  from {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}

::details-content {
  @media (prefers-reduced-motion: no-preference) {
    /* 6. allow discrete transitions for the details content (animating to height auto) */
    /* transition: height 0.5s ease, content-visibility 0.5s ease allow-discrete; */
  }

  /* height: 0;
  overflow: clip; */
}

/* Browser supports interpolate-size */
/* 7. interpolate-size: allow-keywords */
/* @supports (interpolate-size: allow-keywords) {
  :root {
    interpolate-size: allow-keywords;
  }

  [open]::details-content {
    height: auto;
  }
} */
