.speaker-overview {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--padding);
  padding: var(--padding);
  max-width: 1600px;
  margin: 0 auto;

  .text {
    grid-column: 1 / -1;
  }

  .speaker-overview-grid {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    gap: var(--padding);
  }

  .speaker-card {
    --delay: 0.04s;
    @supports (animation-delay: calc(sibling-index() * 0.04s)) {
      --delay: calc(sibling-index() * 0.04s);
    }
    position: relative;
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);

    @media (prefers-reduced-motion: no-preference) {
      animation: stagger-in 0.4s var(--delay) var(--ease) both;

    }

    a {
      text-decoration: none;
      color: inherit;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
      }
    }

    img {
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
}

@keyframes stagger-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
