@view-transition {
  navigation: auto;
}

.speaker-card {
  img {
    view-transition-class: speaker-image;
    @media (prefers-reduced-motion: no-preference) {
      view-transition-name: var(--vt);
    }
  }
}

.speaker-header {
  img {
    view-transition-class: speaker-image;
    @media (prefers-reduced-motion: no-preference) {
      view-transition-name: var(--vt);
    }
  }
}

html {
  &::view-transition {
    animation-duration: 0.1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
  }
  &::view-transition-old(root) {
    animation-duration: 0.1s;
  }
  &::view-transition-new(root) {
    animation-delay: 0.2s;
  }
  &::view-transition-group(.speaker-image) {
    animation-duration: 0.6s;
    animation-delay: 0.2s;
  }
  &.index {
    &::view-transition-old(.speaker-image) {
      opacity: 0;
      animation: none;
    }
    &::view-transition-new(.speaker-image) {
      opacity: 1;
      animation-name: clip-out;
      animation-duration: 0.6s;
      animation-delay: 0s;
      overflow: hidden;
    }
    &::view-transition-group(.speaker-image) {
      animation-duration: 0.6s;
      animation-delay: 0s;
    }
  }
  &.speaker-detail {
    &::view-transition-old(.speaker-image) {
      opacity: 1;
      animation-name: clip-in;
      animation-duration: 0.6s;
      animation-delay: 0s;
      overflow: hidden;
    }
    &::view-transition-new(.speaker-image) {
      opacity: 0;
      animation: none;
    }
  }
  &::view-transition-old(.speaker-image):only-child {
    opacity: 1;
    animation-name: scale-down;
    animation-duration: 0.4s;
    animation-delay: 0s;

  }
  &::view-transition-new(.speaker-image):only-child {
    opacity: 1;
    animation-name: scale-up;
    animation-duration: 0.4s;
    animation-delay: 0.1s;
  }
}


@keyframes scale-down {
  to {
    scale: 0;
    opacity: 0;
  }
}
@keyframes scale-up {
  from {
    scale: 0;
  }
}

@keyframes clip-in {
  from {
    border-radius: 0%;
  }
  to {
    border-radius: 50%;
  }
}
@keyframes clip-out {
  from {
    border-radius: 50%;
  }
  to {
    border-radius: 0%;
  }
}
