/* HIER */
/* 1. Making all page changes view transitions */
/* @view-transition {
  navigation: auto;
} */

.speaker-card {
  img {
    /* 2. Setting view transition name only when user has no preference for reduced motion */
    /* view-transition-class: speaker-image;
    @media (prefers-reduced-motion: no-preference) {
      view-transition-name: var(--vt);
    } */
  }
}

.speaker-header {
  img {
    /* 3. Setting view transition name only when user has no preference for reduced motion */
    /* view-transition-class: speaker-image;
    @media (prefers-reduced-motion: no-preference) {
      view-transition-name: var(--vt);
    } */
  }
}

html {
   /* 4. Using the html classes to create two different animations, depending on start page and end page */
   &.speaker-detail {
    /* 5. the old view transition shows the full image so we're using that to overwrite the default animation and animate the border-radius */
     /* &::view-transition-old(.speaker-image) {
       opacity: 1;
       animation-name: clip-in;
       animation-duration: 0.6s;
       animation-delay: 0s;
       overflow: hidden;
     } */
    /* 6. the new view transition shows the clipped image so we're hiding that with opacity 0 and removing the default animation */
     /* &::view-transition-new(.speaker-image) {
       opacity: 0;
       animation: none;
     } */
   }
  &.index {
    /* 7. the old view transition from the speaker detail page is clipped, so we're hiding that with opacity 0 and removing the default animation */
    /* &::view-transition-old(.speaker-image) {
      opacity: 0;
      animation: none;
    } */
    /* 8. the new view transition shows the full image so we're using that to overwrite the default animation and animate the border-radius */
    /* &::view-transition-new(.speaker-image) {
      opacity: 1;
      animation-name: clip-out;
      animation-duration: 0.6s;
      animation-delay: 0s;
      overflow: hidden;
    } */
    /* 9. we're removing the delay of the group for animating from speaker to index page */
    /* &::view-transition-group(.speaker-image) {
      animation-duration: 0.6s;
      animation-delay: 0s;
    } */
  }
  /* 10. Let's animate all items that are not clicked out to scale 0 */
  /* &::view-transition-old(.speaker-image):only-child {
    opacity: 1;
    animation-name: scale-down;
    animation-duration: 0.4s;
    animation-delay: 0s;
  } */
   /* 11. Animate all the new items in from scale 0 */
  /* &::view-transition-new(.speaker-image):only-child {
    opacity: 1;
    animation-name: scale-up;
    animation-duration: 0.4s;
    animation-delay: 0.1s;
  } */
}


@keyframes scale-down {
  to {
    scale: 0;
    opacity: 0;
  }
}
@keyframes scale-up {
  from {
    scale: 0;
  }
}

@keyframes clip-in {
  from {
    border-radius: 0%;
  }
  to {
    border-radius: 50%;
  }
}
@keyframes clip-out {
  from {
    border-radius: 50%;
  }
  to {
    border-radius: 0%;
  }
}





html {
  &::view-transition {
    animation-duration: 0.1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
  }
  &::view-transition-new(root) {
    animation-delay: 0.2s;
  }
  &::view-transition-group(.speaker-image) {
    animation-duration: 0.6s;
    animation-delay: 0.2s;
  }
}
