@property --multiplier {
  syntax: '<number>';
  inherits: true;
  initial-value: 7;
}

@property --sibling-index {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@property --sibling-count {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.page-header span {
  /* For safari we need to declare sibling index and count as properties, or the animation will break 🤷🏻‍♀️ */
  --sibling-index: sibling-index();
  --sibling-count: sibling-count();
  /*
    Creates a number from 0 - 1 based on amount of spans and the index of the current span
  */
  --i: calc((var(--sibling-index) - 1) / (var(--sibling-count) - 1));
  --start-angle: 0deg;
  --angle: 180deg;

  /* Make the arc less prominent by starting at 30 degrees and ending at 150 degrees.

  --start-angle: 30deg;
  --angle: 180deg - var(--start-angle) * 2;
  */

  /*
    Calculates the sine and cosine of the angle based on the start angle, angle, and index.
  */
  --sin-calc: calc((sin(var(--start-angle) + var(--angle) * var(--i)) * -1 - .5) * var(--multiplier));

  --cos-calc: calc((cos(var(--start-angle) + var(--angle) * var(--i)) * -1) * var(--multiplier));
  /* Transform the letters
  transform: translateY(calc(var(--sin-calc) * 5%));
  transform: rotate(calc(var(--cos-calc) * 3deg));
  transform: translateX(calc(var(--cos-calc) * 5%));
  transform: translateY(calc(var(--sin-calc) * 10%)) translateY(50%) rotate(calc(var(--cos-calc) * 3deg)) translateX(calc(var(--cos-calc) * 10%));
  */

  @supports (transform: rotate(calc(var(--cos-calc) * 1deg))) {
    @media (prefers-reduced-motion: no-preference) {
      /* do the transforms in the animation
      animation: expand 1.5s both var(--ease-back); */

    }
  }
}

@keyframes expand {
  0% {
    transform: translateX(calc(var(--cos-calc) * -10%)) translateY(calc(var(--sin-calc) * -4%));
  }

  60% {
    transform: translateX(calc(var(--cos-calc) * 0.6%)) rotate(calc(var(--cos-calc) * 1deg)) translateY(calc(var(--sin-calc) * 4%)) translateY(20%);
  }

  100% {
    transform: translateX(calc(var(--cos-calc) * 5%)) rotate(calc(var(--cos-calc) * 3deg)) translateY(calc(var(--sin-calc) * 10%)) translateY(50%);
  }
}

.page-header {
  /*
    Allows us to use a different element's position for the start and end trigger of the animation
  */
  /* add a view timeline name to the page header so we can use it for the triggers of the animation
  view-timeline-name: --page-header; */

  @media (prefers-reduced-motion: no-preference) {
    /* Make the header sticky so the animation has time to play out while you scroll down the page
      min-height: 200svh;
      .page-header__inner {
        position: sticky;
        top: 0;
      }
    */

    .page-header__inner {

      @media (prefers-reduced-motion: no-preference) {
        /* make the --multiplier property grow as you scroll down the page

        animation-name: scroll-multiplier;
        animation-timeline: --page-header;
        animation-range: entry 100svh cover; */
      }
    }
  }
}

@keyframes scroll-multiplier {
  0% {
    --multiplier: 7;
  }

  100% {
    --multiplier: 20;
  }
}

.black-hole {
  @media (prefers-reduced-motion: no-preference) {
    /* Animate the black hole out as you scroll down the page
    animation-name: up-out;
    animation-timeline: --page-header;
    animation-range: entry 100svh contain; */
  }
}

@keyframes up-out {
  0% {
    transform: translateY(0);
  }

  100% {
    scale: 0;
    transform: translateY(-300%);
  }
}

.page-header .bear-container {
  @media (prefers-reduced-motion: no-preference) {
    /* Animate the bear separately from the black hole as you scroll down the page
     animation-name: rotate-bear;
     animation-timeline: --page-header;
     animation-range: entry 100svh contain; */
  }
}

@keyframes rotate-bear {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
    scale: 0;
  }
}

.page-header-bottom {
  @media (prefers-reduced-motion: no-preference) {
    /* Move the bottom text up as you scroll down the page
    animation-name: move-up;
    animation-timeline: --page-header;
    animation-range: entry 100svh contain;
    animation-fill-mode: both; */
  }
}

@keyframes move-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}



.world-container {
  @media (prefers-reduced-motion: no-preference) {
    /* Orbit the world around the bottom text as you scroll down the page
    animation-name: world-orbit;
    animation-timeline: --page-header;
    animation-range: entry 100svh cover;
    animation-fill-mode: both; */
  }
}

@keyframes world-orbit {
  5% {
    translate: 5vw -2svh;
    transform: translateZ(100px);
  }

  35% {
    transform: translateZ(-200px);
  }

  40% {
    translate: -65vw var(--max-y, 35svh);
  }

  45% {
    transform: translateZ(100px);
  }

  90% {
    translate: -15vw 5svh;
    transform: translateZ(100px);
  }

  100% {
    translate: 50vw -10svh;
    transform: translateZ(100px);
  }
}

.page-header .rocket {
  @media (prefers-reduced-motion: no-preference) {
    /* Make the rocket fly across the page as you scroll down the page

    animation-name: rocket-fly;
    animation-timeline: --page-header;
    animation-range: entry 100svh contain; */
  }
}

@keyframes rocket-fly {
  0% {
    transform: translate(-50%, 0) rotate(-60deg);
  }

  100% {
    transform: translate(-50%, 0) rotate(150deg);
  }
}


.marquee {
  @media (prefers-reduced-motion: no-preference) {
    /* Make the marquee sticky so the animation has time to play out while you scroll down the page
    position: sticky;
    top: 0;
    z-index: 10;
    transition: transform 0.3s ease-out; */
  }
}


html {
  /* Add Container Queries 🔥 to the page so we can use them for scroll state queries
  container-name: scroller;
  container-type: scroll-state;
 */
}


/* Animate the marquee out as you scroll down the page
@container scroller scroll-state(scrolled: block-end) {
  .marquee {
    transform: translateY(-100%);
  }
} */

/* Turn the rocket around based on scroll direction
@container scroller scroll-state(scrolled: block-start) {
  .rocket svg {
    rotate: -180deg;
  }
} */


.speaker-grid {
  /* Use the speaker-grid container as the trigger for the animation
    view-timeline-name: --speaker-grid;
  */

  /* Animate the first and third items in a loop of three (dont forget @supports & prefers reduced motion)
  .speaker:nth-child(3n + 1),
  .speaker:nth-child(3n + 3) {
    @supports (animation-timeline: --speaker-grid) {
      @media (prefers-reduced-motion: no-preference) {
        animation-timeline: --speaker-grid;
        animation-range: entry 100lvh contain;
        animation-name: grid-scroll-speed;
      }
    }
  } */
}


@keyframes grid-scroll-speed {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(100% + var(--gap)));
  }
}
