.page-header span {
  /* For safari we need to declare sibling index and count as properties, or the animation will break 🤷🏻‍♀️ */
  --sibling-index: sibling-index();
  --sibling-count: sibling-count();
  /*
    Creates a number from 0 - 1 based on amount of spans and the index of the current span
  */
  --i: calc((var(--sibling-index) - 1) / (var(--sibling-count) - 1));

  /*
    Makes the arc less prominent by starting at 30 degrees and ending at 150 degrees.
  */
  --start-angle: 30deg;
  --angle: calc(180deg - var(--start-angle) * 2);

  /*
    Calculates the sine and cosine of the angle based on the start angle, angle, and index.
  */
  --sin-calc: calc((sin(var(--start-angle) + var(--angle) * var(--i)) * -1 - .5) * var(--multiplier));
  --cos-calc: calc((cos(var(--start-angle) + var(--angle) * var(--i)) * -1) * var(--multiplier));

  @supports (transform: rotate(calc(cos() * 1deg))) {
    @media (prefers-reduced-motion: no-preference) {
      /* animation: expand 1.5s both var(--ease-back); */
    }
  }
}

@keyframes expand {
  0% {
    transform: translateX(calc(var(--cos-calc) * -10%)) translateY(calc(var(--sin-calc) * -4%));
  }

  60% {
    transform: translateX(calc(var(--cos-calc) * 0.6%)) rotate(calc(var(--cos-calc) * 1deg)) translateY(calc(var(--sin-calc) * 4%)) translateY(20%);
  }

  100% {
    transform: translateX(calc(var(--cos-calc) * 5%)) rotate(calc(var(--cos-calc) * 3deg)) translateY(calc(var(--sin-calc) * 10%)) translateY(50%);
  }
}

.page-header {
  /*
    Allows us to use a different element's position for the start and end trigger of the animation
  */
  /* view-timeline-name: --page-header; */

  /*
    Makes the header sticky so the animation has time to play out while the user scrolls
  */
  /* @media (prefers-reduced-motion: no-preference) {
    min-height: 200svh;

    .page-header__inner {
      position: sticky;
      top: 0;
    }
  } */
  /*
    Animates the --multiplier property with a scroll driven animation so it grows as the user scrolls
  */
  /* @media (prefers-reduced-motion: no-preference) {
    animation-name: scroll-multiplier;
    animation-timeline: --page-header;
    animation-range: entry 100svh cover;
    animation-fill-mode: both;
  } */
}

@keyframes scroll-multiplier {
  0% {
    --multiplier: 7;
  }

  100% {
    --multiplier: 20;
  }
}

/* .page-header .black-hole {
  @media (prefers-reduced-motion: no-preference) {
    animation-name: up-out;
    animation-timeline: --page-header;
    animation-range: entry 100svh contain;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
  }
} */

@keyframes up-out {
  0% {
    transform: translateY(0);
  }

  100% {
    scale: 0;
    transform: translateY(-100%);
  }
}

/* .page-header .bear-container {
   @media (prefers-reduced-motion: no-preference) {
     animation-name: rotate-bear;
     animation-timing-function: ease-in-out;
     animation-timeline: --page-header;
     animation-range: entry 100svh contain;
     animation-fill-mode: both;
   }
 } */

@keyframes rotate-bear {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
    scale: 0;
  }
}

/* .page-header-bottom {
  @media (prefers-reduced-motion: no-preference) {
    animation-name: move-up;
    animation-timeline: --page-header;
    animation-range: entry 100svh contain;
    animation-fill-mode: both;
  }
} */

@keyframes move-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}


/*
.world-container {
  @media (prefers-reduced-motion: no-preference) {
    animation-name: world-orbit;
    transform-style: preserve-3d;
    animation-timeline: --page-header;
    animation-timing-function: ease-out;
    animation-range: entry 100svh cover;
    animation-fill-mode: both;
  }
} */

@keyframes world-orbit {
  5% {
    translate: 5vw -2svh;
    transform: translateZ(100px);
  }

  35% {
    transform: translateZ(-200px);
  }

  40% {
    translate: -65vw var(--max-y, 35svh);
  }

  45% {
    transform: translateZ(100px);
  }

  90% {
    translate: -15vw 5svh;
    transform: translateZ(100px);
  }

  100% {
    translate: 50vw -10svh;
    transform: translateZ(100px);
  }
}

/* .page-header .rocket {
  @media (prefers-reduced-motion: no-preference) {
    animation-name: rocket-fly;
    animation-timing-function: ease-in-out;
    animation-timeline: --page-header;
    animation-range: entry 100svh contain;
    animation-fill-mode: both;
  }
} */

@keyframes rocket-fly {
  0% {
    transform: translate(-50%, 0) rotate(-60deg);
  }

  100% {
    transform: translate(-50%, 0) rotate(150deg);
  }
}


/* .marquee {
  @media (prefers-reduced-motion: no-preference) {
    position: sticky;
    top: 0;
    z-index: 10;
    transition: transform 0.3s ease-out;
  }
} */


/* html {
  container-name: scroller;
  container-type: scroll-state;
} */


/* @container scroller scroll-state(scrolled: block-end) {
  .marquee {
    transform: translateY(-100%);
  }
} */

/* @container scroller scroll-state(scrolled: block-start) {
  .rocket svg {
    rotate: -180deg;
  }
} */


.speaker-grid {
  /* use the speaker-grid container as the trigger for the animation */
  /* view-timeline-name: --speaker-grid; */

  /* animate the first and third items in a loop of three */
  /* .speaker:nth-child(3n + 1),
  .speaker:nth-child(3n + 3) {
    @supports (animation-timeline: --speaker-grid) {
      @media (prefers-reduced-motion: no-preference) {
        animation-timeline: --speaker-grid;
        animation-range: entry 100lvh contain;
        animation-name: grid-scroll-speed;
        animation-fill-mode: both;
      }
    }
  } */
}


@keyframes grid-scroll-speed {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(100% + var(--gap)));
  }
}


