@import 'live';
@import 'typography.css';




/* Variables: */
:root {
  --design-size: 1440;
  --max-width-size: 1920;
  --max-width: 1920px;
  --rem: 0.0625rem;
  --max-rem: var(--max-width)/var(--design-size);

  --vw: 100 / var(--design-size) * 1vw;
  --padding-inline: max(calc(var(--vw) * 12), calc(var(--rem) * 12));
  --padding-block: max(calc(var(--vw) * 80), calc(var(--rem) * 48));
  --grid-columns: repeat(12, 1fr);
  --gap: max(calc(var(--vw) * 20), calc(var(--rem) * 8));
  --vertical-gap: max(calc(var(--vw) * 40), calc(var(--rem) * 32));

  --font-family: 'BM Gaudi', impact, sans-serif;

  --color-background: #EAE9F0;
  --color-text: #111;
  --color-accent: #0098FF;

  --ease-back: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ease-in-out: cubic-bezier(0.45, 0, 0.55, 1);

  @media (max-width: 768px) {
    --grid-columns: repeat(6, 1fr);
  }

}

* {
  box-sizing: border-box;
  margin: 0;
  font-weight: 400;
}

/* utitlity */
.sr-only:not(:focus):not(:active) {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  /* for IE only */
  clip-path: inset(50%);
}

body {
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-text);
  max-width: 100%;
  overflow-x: clip;
}


.color-accent {
  color: var(--color-accent);
}

.color-background {
  background-color: var(--color-background);
}

.color-text {
  color: var(--color-text);
}

.circle {
  position: relative;
  z-index: 1;
  aspect-ratio: 1/1;
  border-radius: 50%;


  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-text);
    border-radius: 50%;

    @media (prefers-reduced-motion: no-preference) {
      animation: scale-loop 10s var(--ease-in-out) infinite;
    }
  }

  .bear {
    position: absolute;
    width: 110%;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: float-scale-loop 20s var(--ease-in-out) infinite;
  }
}

.marquee {
  @media (prefers-reduced-motion: no-preference) {
    position: sticky;
    top: 0;
    z-index: 10;
    transition: transform 0.3s ease-out;
  }

  overflow: clip;
  padding: 0.5em 0 0.4em;
  background-color: var(--color-text);
  color: var(--color-background);
  width: 100%;

  .marquee-inner {
    width: max-content;
    white-space: nowrap;

    @media (prefers-reduced-motion: no-preference) {
      animation: marquee 25s linear infinite;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% / var(--count)));
  }
}



/* Page header */
.page-header {
  animation: fade-in 1s 0.1s both var(--ease-back);

  .page-header__inner {
    display: grid;
    grid-template-columns: var(--grid-columns);
    grid-template-rows: auto auto 7rem auto;
    gap: var(--gap);
    align-content: center;
    animation-fill-mode: both;

    padding: var(--padding-inline);
    min-height: 100svh;
    width: 100%;
    overflow-x: clip;



    @media (max-width: 768px) {
      grid-template-rows: auto auto auto;
    }
  }

  span {
    display: inline-block;
  }

  .rocket {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    rotate: -30deg;
    z-index: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;


    min-width: calc(var(--rem) * 120);
    width: calc(var(--vw) * 160);
    aspect-ratio: 1;
    transform-origin: center 120vh;
    overflow: visible;

    @media (max-width: 768px) {
      animation-range: entry 100svh exit 50%;
    }

    svg {
      transition: rotate 0s ease-out;
      transform-box: fill-box;
    }
  }


  .page-header-top {
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
    justify-self: center;
    text-align: center;
    padding-top: 100px;
    letter-spacing: -0.025em;

    @media (max-width: 768px) {
      grid-row: 1;
    }


  }

  .black-hole {
    grid-column: 5 / span 4;
    grid-row: 2 / span 2;

    width: 65%;
    max-width: 25svh;
    aspect-ratio: 1;
    margin: auto;
    translate: 0 20%;
    animation-timing-function: ease-out;
    animation-fill-mode: both;

    @media (max-width: 768px) {
      max-width: unset;
      grid-column: 1 / -1;
      grid-row: 2;
      translate: 0 0;
    }

  }

  .circle {
    width: 100%;
    aspect-ratio: 1;


    @media (prefers-reduced-motion: no-preference) {
      animation: scale-in 1.5s var(--ease-back) forwards;
    }

    .bear-container {
      width: 100%;
      height: 100%;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;


      @media (max-width: 768px) {
        animation-range: entry 100svh exit;
      }
    }
  }

  .page-header-bottom {
    perspective: 1000px;
    transform-style: preserve-3d;
    width: max-content;
    margin: 0 auto;
    z-index: 2;
    grid-column: 1 / -1;
    grid-row: 3 / span 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--padding-inline);
    animation-fill-mode: both;

    @media (max-width: 768px) {
      grid-row: 3;
    }

    p,
    h2 {
      transform: translateZ(100px);
      transform-style: preserve-3d;
    }

    p:first-of-type {
      text-align: left;
    }

    p:last-of-type {
      text-align: right;
      margin-right: 0.16em;
    }
  }

  .world-container {
    position: absolute;
    top: -20%;
    right: -20%;

    min-width: calc(var(--rem) * 80);
    width: calc(var(--vw) * 100);
    aspect-ratio: 1;
    transform: translateZ(100px);
    transform-style: preserve-3d;
    animation-timing-function: ease-out;
    animation-fill-mode: both;


    @media (prefers-reduced-motion: no-preference) {
      @media (max-width: 768px) {
        --max-y: 22svh;
      }
    }
  }

  .world {
    width: 100%;
    height: 100%;
    scale: 0;

    @media (prefers-reduced-motion: no-preference) {
      animation: world-in 0.4s 1.2s var(--ease-back) forwards, world-rotate 100s 1.5s linear infinite, world-float 4s 1.5s linear infinite;
    }
  }
}

@keyframes world-in {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}


@keyframes scale-in {
  0% {
    scale: 0;
    rotate: -720deg;
  }

  60% {
    scale: 0.2;
    rotate: -320deg;
  }

  100% {
    scale: 1;
  }
}



@keyframes float-scale-loop {
  10% {
    scale: 1.05;
    translate: 0 10px;
  }

  40% {
    translate: -5px -10px;
  }

  50% {
    scale: 0.95;
  }

  80% {
    translate: 5px 10px;
  }

  100% {
    scale: 1;
    translate: 0 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes world-rotate {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

@keyframes world-float {
  50% {
    translate: 0 1svh;
  }
}




.speakers,
.crew {
  max-width: calc(var(--max-width-size) * var(--rem));
  margin: 0 auto;
  padding: var(--padding-block) var(--padding-inline) 0;
}

.speaker-grid,
.support-grid {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  gap: var(--gap);
  list-style: none;
  padding: var(--vertical-gap) 0 0;
  animation-fill-mode: both;

}

.speaker-grid {

  .speaker:last-child {
    grid-column: 2;
    animation: none;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);

    .speaker:last-child {
      grid-column: unset;
    }

    .speaker {
      animation: none !important;
    }
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.support-grid {
  @media (max-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 350px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.speaker {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  overflow: clip;
  border-radius: var(--padding-inline);
  color: var(--color-background);
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: var(--gap);
  transition: background-color 0.4s ease-out;
  background-color: var(--color-accent);

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 20%;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.2) 50%);
    mix-blend-mode: multiply;
  }

  &:not(.support-crew) {
    &:hover {
      img {
        transform: translateY(0);
      }
    }
  }

  h3 {
    display: flex;
    align-items: end;
    justify-content: end;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    margin-left: auto;

    a {
      padding: calc(var(--rem) * 14);
      text-decoration: none;
      color: inherit;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
      }
    }
  }

  .speaker-topic-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    p {
      white-space: nowrap;
      padding: calc(var(--rem) * 14);
    }
  }

  .speaker-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: var(--color-accent);
      mix-blend-mode: overlay;
      transform: translateZ(1px);
      border-radius: var(--padding-inline);
      overflow: clip;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: var(--color-text);
      mix-blend-mode: screen;
      transform: translateZ(1px);
      border-radius: var(--padding-inline);
      overflow: clip;
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
    transition: transform 0.2s ease-out;
    transform: translateY(10%);
    will-change: transform;
    border-radius: var(--padding-inline);
    overflow: clip;
  }
}

.crew {
  h3 {
    padding: calc(var(--rem) * 14);
  }
}


.info {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);
  padding: var(--padding-block) var(--padding-inline);
  max-width: calc(var(--max-width-size) * var(--rem));
  margin: 0 auto;

  h2 {
    grid-column: 1 / -1;
  }

  .info-image {
    grid-column: span 4;

    @media (max-width: 768px) {
      grid-column: span 8;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info-content {
    grid-column: span 6;

    @media (max-width: 768px) {
      grid-column: 1/-1;
    }

    p+p {
      margin-top: 1em;
    }
  }
}


footer {
  padding: var(--padding-inline);

  a {
    color: var(--color-accent);
  }
}








.speaker-header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);
  padding: var(--padding-block) var(--padding-inline);

  .speaker-header-image {
    position: sticky;
    top: var(--padding-block);
    grid-column: span 6;
    aspect-ratio: 1;
    border-radius: var(--padding-inline);
    overflow: clip;
    background-color: var(--color-accent);

    .speaker-header-image-inner {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-color: var(--color-accent);
        mix-blend-mode: overlay;

        transition: opacity 0.4s ease-out;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background-color: var(--color-text);
        mix-blend-mode: screen;
        transition: opacity 0.4s ease-out;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(1);
    }
  }

  .speaker-header-text {
    grid-column: span 6;
  }
}
