:root {
  --celestial-width: max(calc(var(--rem) * 125), calc(var(--vw) * 400));
  --celestial-up: -8vw;
}


.page-header {
  .page-header-el--left {
    --direction: -1;
  }
  .page-header-el--left,
  .page-header-el--right {
    @media (prefers-reduced-motion: no-preference) {
      @supports (animation-timeline: view()) {
        /* Add start and end ranges as variables
        --start-range: calc((50vh - 8vw + var(--celestial-width) / 2) * -1);
        --end-range: calc((50vh - 8vw - var(--celestial-width) / 2) * -1 + 100%);
        */


        /* Set animation name, timeline and ease
        animation-name: around-celestial;
        animation-timeline: view();
        animation-timing-function: ease-out;
        */


        /* Set the animation range
        animation-range: exit var(--start-range) exit var(--end-range);
        */


        /* better easing:
        animation-timing-function: cubic-bezier(0.32, 1, 1, 1); */


      }
    }
  }

  /* Debug the easings: */
  /* .page-header-meta--debug {
    display: grid;
  } */
}

@keyframes around-celestial {
  50% {
    transform: translateX(calc(var(--celestial-width) / 2 * var(--direction, 1)));
    animation-timing-function: ease-in;
    /* better easing:
    animation-timing-function: cubic-bezier(0.68, 0, 1, 1); */
  }
}


.speakers-overview {
  .speaker,
  .speakers-overview-text {
    @media (prefers-reduced-motion: no-preference) {
      /* Add animation name, duration, timing function and fill mode
        animation: click-into-place 0.5s var(--ease-back) both;
      */


      /* Set the timeline trigger
        timeline-trigger:
          --t view() entry 10% scroll 100% / entry 0% scroll 120%;
      */


      /* Set the animation trigger and animation actions
        animation-trigger: --t play-forwards play-backwards;
      */


    }
  }

  /* Set the from-x and -y for the speakers that are on the left */
  .speaker-anjana-vakil,
  .speaker-cyd-stumpel,
  .speaker-heydon-pickering {
    --from-x: calc(var(--gap) * 3);
    --from-y: calc(var(--gap) * 3);
  }

  /* Set the from-x and -y for the speakers that are on the right */
  .speaker-barry-pollard,
  .speaker-harry-roberts,
  .speaker-jake-archibald {
    --from-x: calc(var(--gap) * -3);
    --from-y: calc(var(--gap) * 3);
  }
}


@keyframes click-into-place {
  from {
    translate: var(--from-x) var(--from-y);
    opacity: 0;
  }
}



html {
  /* Set container type on the root scroller
    container-type: scroll-state;
  */
}

/* Animate the fronteers logo out when we scroll down

*/
@container scroll-state(scrolled: block-end) {
  @media (prefers-reduced-motion: no-preference) {
    .header .fronteers-logo-link g.letter-container {
      --translate-x: 100%;
    }
  }
}
