:root {
  --celestial-width: max(calc(var(--rem) * 125), calc(var(--vw) * 400));
}


.page-header {
  .page-header-el--left,
  .page-header-el--right {
    @media (prefers-reduced-motion: no-preference) {
      @supports (animation-timeline: view()) {
        /* Add start and end ranges as variables
        --start-range: calc((50vh - 8vw + var(--celestial-width) / 2) * -1);
        --end-range: calc((50vh - 8vw - var(--celestial-width) / 2) * -1 + 100%);
        */


        /* Set animation name and timeline
        animation-name: around-celestial;
        animation-timeline: view();
        */


        /* Set the animation range
        animation-range: exit var(--start-range) exit var(--end-range);
        */


        /* easing:
        animation-timing-function: cubic-bezier(0.32, 1, 1, 1); */


      }
    }
    .page-header-el--left {
      --direction: -1;
    }
  }

  /* Debug the easings: */
  /* .page-header-meta--debug {
    display: grid;
  } */
}

@keyframes around-celestial {
  50% {
    transform: translateX(calc(var(--celestial-width) / 2 * var(--direction, 1)));
  }
}

/* easing:
animation-timing-function: cubic-bezier(0.68, 0, 1, 1); */
