.page-header {
  --dark-svg-ratio: 762/146;
  --mode-svg-ratio: 530/146;
  --svg-height: max(calc(var(--rem) * 32), calc(var(--vw) * 100));
  --darker-difference-ratio: 405 / 754;
  --first-row-scale: 0.75;

  overflow-x: clip;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  gap: calc(var(--gap) * 0.5);
  padding-top: calc(100vh - var(--svg-height) - 10em);
  min-height: 100vw;
  view-timeline-name: --page-header;
  timeline-scope: --last-svg-line;

  .celestial picture {
    display: contents;
  }

  .celestial :is(img, canvas) {
    display: block;
    width: 100%;
    height: 100%;
  }

  .celestial--3d picture {
    display: none;
  }

  .page-header-moon {
    display: none;
    transition: display allow-discrete 0.3s ease-in;

    img {
      opacity: 0;
      transition: opacity 0.2s var(--ease-back);

      @media (prefers-reduced-motion: no-preference) {
        translate: 0 -100%;
        transition: translate 0.3s ease-in, opacity 0.2s 0.1s ease-in;

        @starting-style {
          opacity: 1;
          translate: 0;
        }
      }
    }
  }

  .page-header-shadow,
  .page-header-sun,
  .page-header-moon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    left: 50%;
    aspect-ratio: 1;
    width: var(--celestial-width);

    transform-origin: left top;

    @media (prefers-reduced-motion: no-preference) {
      --end-range: calc(100% + -50vh + var(--celestial-width) * 0.5 + var(--gap) * 2 - var(--celestial-up));

      @supports (animation-timeline: view()) {
        position: fixed;
        top: calc(50% + var(--celestial-up));
        transform: translateX(-50%) translateY(-50%);
        animation-name: move-celestial-up-scoll-driven;
        animation-timeline: --last-svg-line;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
        animation-range: exit -50% var(--end-range);
      }

      @supports (animation-trigger: --t play-forwards play-backwards) {
        animation-name: move-celestial-up;
        timeline-trigger-name: --t;
        timeline-trigger-source: --last-svg-line;
        timeline-trigger-activation-range: scroll -10% exit var(--end-range);
        animation-trigger: --t play-forwards play-backwards;
        animation-duration: 0.2s;
        animation-fill-mode: both;

        animation-range: unset;
        animation-timeline: unset;
      }
    }
  }

  .page-header-shadow {
    content: '';
    width: calc(var(--celestial-width) * 1.5);
    z-index: 1;
    background: var(--shadow-color);
    border-radius: 50%;
    filter: blur(calc(var(--vw) * 50));
    mix-blend-mode: var(--mix-blend-mode);
    transition: background 0.3s ease-in-out;
  }

  .page-header-meta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);

    &:last-of-type {
      margin-bottom: 2rem;
    }
  }
  .page-header-meta--debug {
    display: none;
  }

  .svg-container {
    max-width: 100vw;
    height: var(--svg-height);
    display: grid;
    grid-template-columns: 50vw 50vw;
    justify-content: center;
    gap: var(--gap);

    &:last-of-type {
      view-timeline-name: --last-svg-line;
    }
  }

  .dark-svg,
  .mode-svg {
    display: flex;
    gap: calc(var(--gap) * 2);
    height: var(--svg-height);
    width: auto;

    .svg {
      width: auto;
      height: 100%;
    }

    svg {
      width: auto;
      height: 100%;
    }
  }

  .dark-svg {
    min-width: max-content;
    --darker-difference-ratio: 0.68;

    .e,
    .r {
      opacity: 0;
      transition: opacity 0.4s ease-out;
    }

    .svg {
      display: block;
      overflow: clip;
      height: 100%;
      clip-path: inset(0 calc(100% - var(--darker-difference-ratio) * 100%) 0 0);
      transform: translateX(calc(100% - var(--darker-difference-ratio) * 100%));

      @media (prefers-reduced-motion: no-preference) {
        transition: transform 0.4s ease-out, clip-path 0.4s ease-out;
      }
    }

    .svg:first-of-type {
      opacity: 0.5;
      transform: translateX(calc((100% - var(--darker-difference-ratio) * 100%) * 2));
    }
  }

  .mode-svg {
    .svg:last-of-type {
      opacity: 0.5;
    }
  }

  .dark-svg,
  .page-header-text-animation--left {
    justify-self: end;
    text-align: right;
  }
}



@keyframes move-celestial-up {
  from {
    translate: 0 -150vh;
    opacity: 0;
  }
}

@keyframes move-celestial-up-scoll-driven {
  to {
    translate: 0 -150vh;
    opacity: 0;
  }
}

.dot {
  display: block;
  width: 2px;
  height: 2px;
  background: var(--color-text);
}
