@media (prefers-reduced-motion: no-preference) {
  .fronteers-logo-link {
    view-transition-name: fronteers-logo-link;
  }
}

::view-transition-group(root) {
  animation-timing-function: ease-out;
}

::view-transition-new(fronteers-logo-link) {
  --order: 1;
}

::view-transition-group(fronteers-logo-link) {
  z-index: 2;
}

::view-transition-old(fronteers-logo-link) {
  animation-name: slide-out;
}

::view-transition-new(fronteers-logo-link) {
  animation-name: slide-in;
}


html.speaker-detail {
  &::view-transition-old(.speaker-name-title),
  &::view-transition-new(.speaker-name-title) {
    --order: 0.75;
  }
}

html.index {
  &::view-transition-old(.speaker-name-title),
  &::view-transition-new(.speaker-name-title) {
    --order: 0;
  }
}
