@media (prefers-reduced-motion: no-preference) {
  .fronteers-logo-link {
    view-transition-name: fronteers-logo-link;
  }
}

::view-transition-group(root) {
  animation-timing-function: ease-out;
}

::view-transition-new(fronteers-logo-link) {
  --order: 1;
}

::view-transition-group(fronteers-logo-link) {
  z-index: 2;
}

::view-transition-old(fronteers-logo-link) {
  animation-name: slide-out;
}

::view-transition-new(fronteers-logo-link) {
  animation-name: slide-in;
}


html.speaker-detail {
  &::view-transition-old(.speaker-name-title),
  &::view-transition-new(.speaker-name-title) {
    --order: 0.75;
  }
}

html.index {
  &::view-transition-old(.speaker-name-title),
  &::view-transition-new(.speaker-name-title) {
    --order: 0;
  }
}


::view-transition-group(*),
::view-transition-old(*),
::view-transition-new(*) {
  outline-offset: -1px;
}


/* ================================================== */
/* Specific animations for going from the speaker detail page to the homepage */
/* ================================================== */

html.index {
  &::view-transition-old(.speaker-image) {
    /* Set z-index to 1 to ensure the speaker image is on top of the new root*/
    z-index: 1;
  }
}



html.speaker-detail {
  &::view-transition-new(.speaker-image) {
    /* Set z-index to 1 to ensure the speaker image is on top of the old root
    */
    z-index: 1;
  }
}
