:root {
  --ease: cubic-bezier(0.22, 1, 0.36, 1);
  /* ease-out quint */
  --duration: 0.6s;
}
/* Add view transition at rule to create view transitions between pages */



/* @media (prefers-reduced-motion: no-preference) {
  [style*='--vt'] {
    view-transition-name: var(--vt);
  }
} */


/* Classing things: */
/* .speaker {
  view-transition-class: speaker-image;

  .speaker-name {
    view-transition-class: speaker-name;
  }
}

.speaker-header .title {
  view-transition-class: speaker-name-title;
}

.speaker-header-image {
  view-transition-class: speaker-image;
}

.speaker-header-image.next-speaker {
  view-transition-class: speaker-image speaker-image-next;
}

.speaker-header-image.prev-speaker {
  view-transition-class: speaker-image speaker-image-prev;
} */

/* Setting defaults: */
::view-transition-group(*),
::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: var(--duration);
  animation-timing-function: var(--ease);
  animation-delay: calc(var(--duration) * var(--order, 0));
}


/* ================================================== */
/* defaults / [index -> detail] */
/* ================================================== */

/* Animate disappearing speakers, speaker names and old root out first */
::view-transition-old(root),
::view-transition-old(.speaker-name),
::view-transition-old(.speaker-image):only-child {
  /* outline: 1px solid red; */
}

/* Animate the active speakers second */
/* Animate the speaker title on the detail page second */
::view-transition-group(.speaker-name-title),
::view-transition-group(.speaker-image) {
  /* outline: 1px solid blue; */
}

/* Animate the new root, and speaker image that weren't on the last page third */
::view-transition-new(root),
::view-transition-new(.speaker-image):only-child {
  /* outline: 1px solid green; */
}


/* ================================================== */
/* [detail -> index] */
/* ================================================== */

/* Animate the new speaker name last [detail -> index]
::view-transition-new(.speaker-name) {
  --order: 1.5;
}
*/
::view-transition-new(.speaker-name) {
  /* outline: 1px solid orange; */
}


/* ================================================== */
/* Remove fade in/out animation and set opacity to 1 by default for all speaker images */
/* ================================================== */

/* ::view-transition-old(.speaker-image),
::view-transition-new(.speaker-image) {
  opacity: 1;
  animation-name: none;
} */



/* ================================================== */
/* Animating the old speakers out [index -> detail] */
/* ================================================== */
::view-transition-old(.speaker-image):only-child {
  /* outline: 1px solid purple; */

}

/* ================================================== */
/* Animating the new speakers in [detail -> index] */
/* ================================================== */

::view-transition-new(.speaker-image):only-child {
  /* outline: 1px solid yellow; */
}


@keyframes scale-down {
  to {
    scale: 0;
    opacity: 0;
  }
}

@keyframes scale-up {
  from {
    scale: 0;
  }
}



/* ================================================== */
/* Specific animations for going from the homepage to the speaker detail page */
/* ================================================== */

html.speaker-detail {
  &::view-transition-group(.speaker-image-prev) {
    /* Animate the previous speakers to the left if they disappear
      --direction: -1;
    */
    /* outline: 1px solid pink; */
  }

  &::view-transition-new(.speaker-image-prev):only-child,
  &::view-transition-new(.speaker-image-next):only-child {
    /* animate the new speakers in
      animation-name: slide-in;
    */
    /* outline: 1px solid lightblue; */
  }

  &::view-transition-old(.speaker-image-prev):only-child,
  &::view-transition-old(.speaker-image-next):only-child {
    /* animate the old speakers out
    animation-name: slide-out;
  */

  }
}


::view-transition-group(.speaker-name-title) {
  /* add a mask to the speaker title group
    mask-image: linear-gradient(to bottom, transparent, black 5%, black 95%, transparent);
  */

}

::view-transition-old(.speaker-name-title) {
  /* animate the old speaker title to the bottom of the screen
  animation-name: to-bottom;
  */
  /* outline: 1px solid rebeccapurple; */

}


::view-transition-new(.speaker-name-title) {
  /* animate the new speaker title from the top of the screen
    animation-name: from-top;
   */
   /* outline: 1px solid teal; */

}





@keyframes slide-in {
  from {
    transform: translateX(calc(var(--direction, 1) * 101%));
  }
}

@keyframes slide-out {
  to {
    transform: translateX(calc(var(--direction, 1) * 101%));
  }
}


@keyframes from-top {
  from {
    transform: translateY(-101%);
    opacity: 0;
  }
}

@keyframes to-bottom {
  to {
    transform: translateY(101%);
    opacity: 0;
  }
}
